* {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 14px;
}

window {
    background-color: rgba(26, 27, 38, 0.94);
}

button {
    background-color: #16161e;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;

    border: 1px solid #24283b;
    border-radius: 8px;

    color: #a9b1d6;

    margin: 8px;
    min-width: 120px;
    min-height: 90px;

    transition: 150ms ease;
}

button:hover {
    background-color: #24283b;
    border-color: #7aa2f7;
    color: #c0caf5;
}

button:focus {
    background-color: #24283b;
    border-color: #7aa2f7;
    color: #7aa2f7;
}

button:active {
    background-color: #7aa2f7;
    color: #1a1b26;
}

/* Individual buttons */

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
